<html>

<head>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Myfiles</title>

  <script type="text/javascript">
    function createNewNote() {
      var newnotediv = document.getElementById('newnotediv');
      newnotediv.style = '';
    }

    function hideNewNote() {
      document.getElementById('newnotediv').style.display = 'none';
      document.getElementById('newnotetitle').value = '';
      document.getElementById('newnotetext').value = '';
    }

    function sendNewNote() {
      var xhr = new XMLHttpRequest();
      xhr.open("POST", '/user/newnote', true);
      xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
      xhr.send('title=' + document.getElementById('newnotetitle').value + '&text=' + document.getElementById('newnotetext').value
      );
    }

    function addReceivedNote(note) {
      // * Create a new note node
      // New note div
      var newNote = document.createElement('div');
      newNote.setAttribute('class', 'w3-card-4 w3-panel w3-sand');
      newNote.setAttribute('id', note.id);

      // Title node word-wrap: break-word;
      var title = document.createElement('b');
      title.style.wordWrap = 'break-word';
      title.setAttribute('class', 'w3-xxlarge');
      title.appendChild(document.createTextNode(note.title));

      // Text node
      var text = document.createElement('div');
      text.style.wordWrap = 'break-word';
      text.innerHTML = note.text;

      // Buttons
      var updateBut = document.createElement('button');
      updateBut.setAttribute('class', 'w3-button w3-yellow');
      updateBut.setAttribute('onclick', 'updateButtonClick("' + note.id + '");');
      updateBut.innerHTML = 'Modify';

      var removeBut = document.createElement('button');
      removeBut.setAttribute('class', 'w3-button w3-red');
      removeBut.setAttribute('onclick', 'deleteButtonClick("' + note.id + '");');
      removeBut.innerHTML = 'Delete';


      // Append to newnote
      newNote.appendChild(title);
      newNote.appendChild(text);
      newNote.appendChild(updateBut);
      newNote.appendChild(removeBut);

      // append to document
      document.getElementById('mynotes').appendChild(newNote);
    }

    function updateButtonClick(id){
      // TODO: show apply button and inputs instead of text
    }

    function deleteButtonClick(id) {
      var node = document.getElementById(id);
      node.parentNode.removeChild(node);
      var xhr = new XMLHttpRequest();
      xhr.open("POST", '/user/delnote', true);
      xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
      xhr.send('id=' + id);
    }

  </script>
  <script>
    const lookForNewNoteTimeout = 1000;

    function parseUpdate(jsonData) {
      // Parse the json update data
      jsonData.updates.forEach(update => {
        // Look for that ID in your page
        var element = document.getElementById(update.id);
        if (element == null) {
          // Brand new, add to top
          addReceivedNote(update);
        } else {
          // Update previously generated
        }
      });
    }

    // Background script
    function updateNotes() {
      // Query for changes as a json
      var xhr = new XMLHttpRequest();

      xhr.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
          var updatejson = JSON.parse(this.responseText);
          parseUpdate(updatejson);
        }
      };
      xhr.open("GET", '/user/updatenotes', true);
      xhr.send();
    }

    updateNotes();
    let timerId = setInterval(updateNotes, lookForNewNoteTimeout);
  </script>
</head>

<body>
  <div class="w3-bar w3-black w3-container">
    <div class="w3-bar-item w3-mobile">
      Welcome
      <%= username %>
    </div>
    <button onclick="createNewNote()" class="w3-bar-item w3-button w3-mobile">New note</button>
    <a class="w3-bar-item w3-button w3-mobile" href="/user/logout">Logout</a>
  </div>

  <div id="newnotediv" class="w3-panel w3-display-container" style="display: none;">
    <div class="w3-container w3-blue">
      <h2>Input Form</h2>
    </div>
    <div class="w3-container w3-card">
      <form action="javascript:sendNewNote(); hideNewNote();">
        <p>
          <label>Title</label>
          <input class="w3-input" type="text" placeholder="Title" id='newnotetitle'>
        </p>
        <p>
          <input class="w3-input" type="text" placeholder="Text" id="newnotetext">
        </p>
        <input type="submit" class="w3-button w3-green">
        <span onclick="hideNewNote()" class="w3-button w3-red">Cancel</span>
      </form>

    </div>
  </div>

  <div id="mynotes" class="w3-container"></div>

</body>

</html>